/* Global Variables */
$soft-blue:     hsl(231, 69%, 60%);
$soft-red:      hsl(0, 94%, 66%);
$grayish-blue:  hsl(229, 8%, 60%);
$very-dark-blue:  hsl(229, 31%, 21%);

/* Enf of Global Variables */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}
/* Header */



/* End of Header*/

/* Section:Hero Banner */



/* End of Hero Banner */




/* End of Features */

/* Extensions */
.extensions{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    h2{
    text-align: center;
    }
    p{
    color: $grayish-blue;   
    text-align: center;
    padding: 10px;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10vw;
        margin-right: 10vw;
        padding: 10px;
        .card-wrapper{
            display: flex;
            justify-content: center;
            .card{
                flex-direction: column;
                display: flex;
                align-items: center;
                
                img{
                padding: 30px;
                }
                button{
                background-color: $soft-blue;
                color: white;
                width: 200px;
                height: 40px;
                border-radius: 5px;
                font-weight: bold;
                }
            }
          

        }
    }

}


/* End of Extensions */

/* FAQs */



/* End of FAQs */

/* Footer */



/* End of Footer */