/*


    Tipo de selectores

    universal - aplica a todos los elementos definidos por el tag name
    Clase - Aplica a todos los elementos definidos en la clase dada
    id - aplica las clases al elemento definido en el ID

*/

/*
    Selectores Avanzados
*/

/* Anidacion */
/*
ul li{
    color: tomato;
}
ol li{
    color: tomato;
}
#main-list li{
    color:slategray;
}
.special-text li{
    color:springgreen;
}

#main-list li:nth-child(odd){
    font-family: 'Courier New', Courier, monospace;
    background-color:steelblue;
}
#main-list li:nth-child(even){
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: pink;
}

#another-list .active ~ li{
    color: lightpink;
}
#another-list .active + li{
    color: darkred;
}
form{
    background-color: slategray;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    padding: 1rem;
}
form .form-group p{
    opacity: 0;
}
form .form-group input:not(:checked) + p{
    transition: 1s all ease;
}
form .form-group input:checked + p{
    opacity: 1;
}*/


form div{
    background-color: steelblue;
    width: 50px;
    height: 50px;
    transition: 1s all ease;
}

/*
form input[value="square"]:checked ~ div{
    width: 100px;
    height: 100px;
    background-color: pink;
}
form input[value="rectangle"]:checked ~ div{
    width: 200px;
    height: 100px;
    background-color: steelblue;
}
form input[value="circle"]:checked ~ div{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border-radius: 50%;
}
*/



form input.square:checked ~ div{
    width: 100px;
    height: 100px;
    background-color: pink;
}
form input.rectangle:checked ~ div{
    width: 200px;
    height: 100px;
    background-color: steelblue;
}
form input.circle:checked ~ div{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border-radius: 50%;
}

@keyframes full-rotation{
   0%{
    transform: rotate(0deg);
   } 
   100%{
    transform: rotate(360deg);
   }
}

.line{
    width: 100px;
    border: 1px solid red;
    height: 10px;
    background-color: red;
    transform: rotate(0deg);
    transform-origin: 100% 100%;
}

input#toggle-animation:checked ~ .line{
    animation: full-rotation 5s infinite linear;
}
input#toggle-animation::after{
    content: "Start Animation";

}
input#toggle-animation:checked::after{
    content: "Stop Animation";
}
