.flex-wrapper{
    width:80%;
    height:20vh;
    border:1px solid red;
    margin:10px auto;
    display: flex;
}

.item{
    width:50px;
    height:50px;
}

.item1{
    background-color: darkred;
}

.item2{
    background-color: peru;
}

.item3{
    background-color: slategray;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-flex-start{
    justify-content:flex-start;
}

.justify-content-flex-end{
    justify-content:flex-end
}

.justify-content-space-between{
    justify-content:space-between;
}

.justify-content-space-around{
    justify-content:space-around;
}

.justify-content-space-evenly{
    justify-content: space-evenly;
}

.align-items-flex-start{
    align-items: flex-start;
}

.align-items-flex-end{
    align-items: flex-end;
}
.align-items-center{
    align-items: center;
}
.align-items-strech{
    align-items: stretch;
}
.align-items-baseline{
    align-items: baseline;
}
.flex-wrapper.align-items-baseline .item:nth-child(even){
    border: 2px solid blue;
    height: 150px;
    vertical-align:middle;
    line-height: 2;
}